<!DOCTYPE html>
<html>
<head>
    <title>Approval Completed</title>
</head>
<body style="font-family: Arial, sans-serif; padding: 20px;">
    
    <!-- <p>Dear {{ requester_name }},</p> -->

    <p>Your approval form <strong>Document ID: {{ doc_number }}</strong> has been fully approved by all assigned approvers.</p>

    <p>Thank you for your cooperation.</p>

    <p>With regards,<br>Accsys Consulting</p>

    <div style="text-align: center;">
        <img src="{{ company_logo }}" alt="Company Logo" style="width: 200px; margin-bottom: 20px;">
    </div>
</body>
</html>
